<h2>Password generator</h2>
<div>
  <label for="length">Enter length: </label>
  <input (input)="onChangeLength($event)" type="text" name="length" id="length" />
</div>
<div>
  <label for="Use Letters">Use Letters: </label>
  <input (change)="onChangeLetters()" type="checkbox" name="Use Letters" />
</div>
<div>
  <label for="Use Numbers">Use Numbers: </label>
  <input (change)="onChangeNumbers()" type="checkbox" name="Use Numbers" />
</div>
<div>
  <label for="Use Symbols">Use Symbols: </label>
  <input (change)="onChangeSymbols()" type="checkbox" name="Use Symbols" />
</div>
<div>
  <button class="btn btn-primary" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols ))" (click)="onButtonClick()">Generate!</button>
</div>
<div>
  <label for="password">Your Password: </label>
  <input type="text" id="password" [value]="password" />
</div>
